<p id="notice"><%= notice %></td></tr>
<table id="standard_table">
<tr>
  <th><center>Name:</th><td>
  <center><%= @user.name %>
</td></tr>

<tr>
  <th><center>City:</th><td>
  <center><%= @user.city %>
</td></tr>

<tr>
  <th><center>Sex:</th><td>
<center>  <%= @user.sex %>
</td></tr>

<tr>
  <th><center>Age:</th><td>
  <center><%= @user.age %>
</td></tr>

<tr>
  <th><center>Contact:</th><td>
  <center><%= @user.contact %>
</td></tr>
  <tr>
    <th><center>
<%= link_to 'Edit', edit_user_path(@user) %> |</th><th><center>
<%= link_to 'Back', users_path %></th></tr>
</table>